<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"><input type="text" #movieTitle name="movieTitle" placeholder="Title" (keyup.enter)="getMovie(movieTitle.value)"/> <button (click)="getMovie(movieTitle.value)" class="btn">Search</button></div>
<div *ngIf="movie!=null">
<div style="text-align:center">
  <h2>{{movie.Title}} - ({{movie.Year}})</h2>
  <img width="300" height="400" alt="{{movie.Title}}" src="{{movie.Poster}}">
</div>
<div id="desc" style="text-align: center">
  <div><strong>Director : {{movie.Director}}</strong></div>
  <div><strong>Actors : {{movie.Actors}}</strong></div>
  <div><strong>Writer : {{movie.Writer}}</strong></div>
  <div><strong>Runtime : {{movie.Runtime}}</strong></div>
</div>
</div>
<div style="text-align:center" *ngIf="movie==null">
  <h2>Movie Not Found!</h2>
</div>
